<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="should include later">
    <meta name="description" content="for optimizing relevant search purpose. should included later">
    <link rel="shortcut icon" href="images/paw.png" type="image/x-icon">
    <title>p.ai - AI-driven Online Vet</title> 
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='styles/main.css') }}" >
  </head>
  <body>
    <!-- header -->
    <header class="universal-header">
      <div class="theme">   
        <div class = "nav">
          <a class="logo" href="/" alt=""p.ai>
            <img class="image" src="{{ url_for('static', filename='images/logo.png') }}" alt="P.ai">
          </a>
          <nav class="left-nav">
            <ul>
              <li><a href="#">Disease A-Z</a></li>
              <li><a href="#">Store</a></li>
              <li><a href="#">About Us</a></li>
            </ul>
          </nav>
          <div class="header-action">
            <div class="log-in">
              <a href="#">Log in</a>
            </div>
            <div class="sign-up">
              <a href="#">Sign up</a>
            </div>
          </div>
         </div>
      </div>
    </header>
    <!-- main -->
    <body>
    	<div class = Inter-container>
			<img src = "{{ url_for('static', filename='images/background.jpg') }}" id = 'bckgrd' alt = backgroundimg>
			<div class = Inter>
			  <form class="search-form">
              <input class = "interinput" type="text" placeholder="How is your pet feel today?">
              <a href="#">
                  <span class="fa fa-search" aria-hidden="true"></span>
              </a>
            </form>
			</div>
			<div class = sectionbar>
				<div class = section>
					<a class = "diseases" href = "Disease.html"> 
						<img src = "{{ url_for('static', filename='images/paw.png') }}" id = 'Dispic' alt = Dispic>
						<p>Disease A-Z</p>
					</a>
					<a class = "nearby" href = "nearby.html"> 
						<img src = "{{ url_for('static', filename='images/paw.png') }}" id = 'nearpic' alt = nearpic>
						<p>Nearby Clinic</p>
					</a>
					<a class = "store" href = "store.html"> 
						<img src = "{{ url_for('static', filename='images/paw.png') }}" id = 'storepic' alt = storepic>
						<p>Pet Store</p>
					</a>
					<a class = "adoption" href = "adoption.html"> 
						<img src = "{{ url_for('static', filename='images/paw.png') }}" id = 'adoptionpic' alt = adoptionpic>
						<p>Adoption</p>
					</a>
				</div>
			</div>
		</div>
    </main>
    <!-- content -->
    <article>
      <div class="News">
        <div class = "twitter">
        	<div class = "title">
          
        </div>
      </div>
    </article>
    <!-- footter -->
    <footer>
      <div>
        <ul>
          <li>Copyright @ 2017 p.ai</li>
          <li>Privacy Policy</li>
          <li>About Us</li>
        </ul>
      </div>
    </footer>
  </body>
</html>