body, html {
    padding: 0;
    margin:0px 0px 0px 0px ;
    width: 100%;
    height: 100%;
}


.nav-container{
    display: block;
    width: 100%;
    height: auto;
    background-color: white;
    pointer-events: auto;
    -webkit-transform: translate3d(0,0,0);
    max-width: 1920px;
    margin: 0 auto;
}

.nav{
	width: calc(100% - 16rem);
    max-width: 1380px;
    height:auto;
    margin-right: auto;
    margin-left: auto;
}


.logo {
	position: relative;
	height: 10vw;
	width: auto
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	float:left;
}

.logo img{
	width: auto;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.nav-content {
	margin-left: 20%;
	position:relative;
	width:auto;
	max-width: 800px;
	margin-top: 0px;
	height:auto;
}

.nav-content-ul {
	list-style-type: none;
	margin:0;
	padding: 0;
    overflow: hidden;
    height:10vw;
}

.nav-content-ul li{
    float: right;
    margin-right:1.2vw;
    margin-top: 4vw;
 	vertical-align: middle;

}

.nav-content-ul li a{

	text-decoration: none;
	font-size : 1.8vw;
	color: grey;
}

.Inter {
	margin-top: 0px;
	width: 100%;
}

#bckgrd{
	opacity:0.4;
	width:100%;
}

.Interh2{
	position:absolute;
	top:10vw;
	left:8rem;
}

.Inter h2{

	font-size:4vw;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #444444;
}

.Inter textarea{
	position:absolute;
	bottom:200px;
	width: 40vw;
	height:20vw;
	left:400px;
	opacity:0.6;
	border:0px;
	font-size:150%;
	overflow-y: scroll;
	resize: none;
}

.Inter a{


}

#send{
	position:absolute;
	width:10%;
	top:360px;
	left:920px;
}
